@use '/styles/abstracts/' as *;

.main {
  padding: 2em;
  min-height: 100vh;

  background-color: $green;
  color: $gold;

  & h1 {
    text-align: center;
    margin-bottom: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.formContainer {
  border-radius: 0.2em;
  width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 3em 0 1.5em;
  background-color: $gold;
  // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

  & label {
    width: 150px;
  }
}

.form {
  width: 80%;
  font-weight: 700;
  text-align: center;

  & button {
    background-color: $green;
  }

  & button:hover {
    background-color: $black !important;
  }
}
