.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.justifyCenter {
  justify-content: center;
}

.alignItemsCenter {
  align-items: center;
}
